h1{
    text-align: center;
    background-color: black;
    color: white;
}
.butn{
 text-align: center;
 
}
.butn :hover{
 background-color: rgb(226, 43, 43) ;
}
button{
    width: 70px;
   
}
.write{
    margin-top: 10px;
    text-align: center;
    color: rgb(124, 115, 115);
}